<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <body>
    <header class="list-header">
      <h1>{{.Title}}</h1>
          {{ with .Params.subtitle }}
          <span class="subtitle">{{.}}</span>
          {{ end }}
    </header>

    <div id="all">
    {{.Content}}
    {{ range .Pages }}
      <div style="border: 1px solid blue;margin:10px; padding:10px;">
        <div style="font-size:20px;">
          <a href="{{.Permalink}}">{{.Title}}</a> <br>
        </div>
        <div style="color:grey; font: size 16px;">{{ dateFormat "Monday, Jan 2" .Date}} </div>
        <div style="color:grey; font: size 16px;">{{ if .Params.tags }} <strong>Tags:</strong> {{ .Params.Tags }} {{ end }} </div>
      </div>
    {{ end }}

  </div>
</body>  

</html>